.NotFound {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.title404 {
    font-family: 'Grafik-Bold';
    text-transform:uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.Error {
    width: 20em;
}

.h404 {
    font-family: 'Grafik-Bold';
    text-transform:uppercase;
    font-size: 1.5em;
}

.p404 {
    font-family: 'Grafik-LightItalic';
}

button {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Grafik-LightItalic'
}