<nav class="navbar navbar-expand-lg navColor">

<div class="menu">

    <div class="myLogo">
    <img 
        src="Logo.png"
        alt="logo"
        class="logo"/>
        
  </div>
      <div class="linknav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="navlink"> Bâtiment </a>    
            <a href="/" class="navlink"> Services </a>
            <a href="/" class="navlink"> Fabrication </a> 
            <a href="/" class="navlink"> Alimentation </a>       
          </li>
        </ul>
      </div>   
    </div>



        <div class="relative w-full">
            <input type="search" id="search-dropdown" class="searchBar" placeholder="Nom, raison sociale, métiers" required />
            <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="searchLogo" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only"> Rechercher </span>
            </button>
        </div>
    </nav>

        <div class="tham tham-e-squeeze tham-w-6">
            <div class="tham-box">
              <div class="tham-inner">
            </div>
          </div>
            


