<main>

<nav class="navBar">
  <div class="container mx-auto flex items-center justify-between">
  <a href="/">
      <img 
          src="Logo.png"
          alt="logo"
          class="logo">
      </a>
   

<!-- Liens  -->
<ul>
  <li>
    <a routerLink="/list/Bâtiment" class="navLink">Bâtiment</a>
  </li>
  <li>
    <a routerLink="/list/Services" class="navLink">Services</a>
  </li>
  <li>
    <a routerLink="/list/Fabrication" class="navLink">Fabrication</a>
  </li>
  <li>
    <a routerLink="/list/Alimentation" class="navLink">Alimentation</a>
  </li>
</ul>


<!-- Barre de recherche -->
<div class="divSearch"> 
  <div> 
  <a routerLink="/">
    <form (input)="onSearchInput(searchInput.value)" class="searchBar">
      <div class="pointer-events-none flex items-center pl-3"></div>
      <input type="text" #searchInput placeholder="Rechercher un artisan" class="searchInput">
    </form>
  </a>
</div>

<!-- Résultat de recherche -->
<section class="search">
  <div *ngIf="isSearching" id="carte"  class="resultSearch">
      <div *ngIf="selectedArtisans && selectedArtisans.length > 0">
          <div *ngFor="let artisan of selectedArtisans">
              <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                  <div class="flex flex-col pb-3">
                  <button><a [routerLink]="['/fiche-artisan', artisan.id]">
                      <dt class="titleSearch"> Artisan trouvé !</dt>
                      <dd class="text-lg font-semibold"> Nom : {{ artisan.name }}
                      <dd class="text-lg font-semibold"> Note : {{artisan.note}}
                      <dd class="text-lg font-semibold"> Métier : {{ artisan.specialty }}
                      <dd class="text-lg font-semibold"> Commune : {{ artisan.location }}
                      
                  


