.menu {
    display: flex;
}

.logo {
    height: 6em;
    width: 10em;
    background-color: #f1f8fc;
    margin: 2em;
}

.navColor {
    background-color: #00497C;
}

.navlink {
    color: #f1f8fc;
    text-transform: uppercase;
    font-family: 'Grafik-Light';
}

.searchBar {
    width: 85%;
    font-family: 'Grafik-Light';
}

.searchLogo {
    width: 1em;
}

.sr-only {
    font-family:'Grafik-Light' ;
}