<main>

<nav class="navBar">
  <div class="container mx-auto flex items-center justify-between">
  <a href="/">
      <img 
          src="Logo.png"
          alt="logo"
          class="logo">
      </a>
   

<!-- Liens  -->
<ul>
  <li>
    <a routerLink="/list/Bâtiment" class="navLink">Bâtiment</a>
  </li>
  <li>
    <a routerLink="/list/Services" class="navLink">Services</a>
  </li>
  <li>
    <a routerLink="/list/Fabrication" class="navLink">Fabrication</a>
  </li>
  <li>
    <a routerLink="/list/Alimentation" class="navLink">Alimentation</a>
  </li>
</ul>


<!-- Barre de recherche -->
<div class="divSearch"> 
  <div> 
  <a routerLink="/">
    <form (input)="onSearchInput(searchInput.value)" class="searchBar">
      <div class="pointer-events-none flex items-center pl-3"></div>
      <input type="text" #searchInput placeholder="Rechercher un artisan" class="searchInput">
    </form>
  </a>
</div>




