.navBar {
    display: flex;
    flex-direction: column;
    background-color: #0074c7;
}

ul {
    display: flex;
    flex-direction: column;
}
.searchBar {
    display: flex;
    flex-direction: column;  
}

.navLink {
    font-family: "Grafik-Light";
    color: #f1f8fc;
}

.divSearch {
    display: flex;
    flex-direction: row;
}

@media (min-width: 992px) {
.menu {
    display: flex;
}

.logo {
    height: 10em;
    width: 20em;
    margin: 2em;
}

ul {
    width: 30em;
    display: flex;
    flex-direction: row;
}
.navLink {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    width: 8em;
}
}
