
.conponentFooter {
    font-family: "Grafik-Light";
    color: #f1f8fc;
    background-color: #00497c;
}

.footerTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
}

.myContact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
}

svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.myFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    }

.logoFooter {
        height: 6em;
        width: 10em;
        background-color: #f1f8fc;
        margin: 2em;
    }

.conponentFooter {
    background-color: #0074C7;
    font-family: 'Grafik-Light';
}

.footerContact {
    display: flex;
    padding-right: 2em;
}

.footerTitle {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align:right;
    width: 100%;
    color: #f1f8fc;
}

.legal {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.footerSmall{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
   
}

.smallMentions {
    text-transform: uppercase;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 0.7em;
    text-decoration: none;
    font-family: 'Grafik-Light';
}

.legalCopyright {
    display: flex;
    
    
}

.copyright {
    padding-right: 1em;
    display: flex;
}

.legalText {
    padding-left: 0.5em;
}

.mentionsLegals {
    padding-top: 0.2em;
}

.footerTitle {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.myadress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address {
    display: flex;
  
}

.m {
    display: flex;
    justify-content: space-evenly;
}



