<div class="d-flex justify-content-center" id="itemsDiv">
    <div id="items">
        <ul *ngFor="let artisan of artisans | filterByCategory:selectedCategory" id="ficheList"> 
            <li id="fiche">
            <a [routerLink]="['/fiche-artisan', artisan.id]" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt="">
                <p class="flex flex-col justify-between p-4 leading-normal"><strong>{{artisan.name}}</strong></p>
                    <div id="notes">
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Note: {{artisan.note}}</p>
                    </div>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Spécialité: {{artisan.specialty}}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ville: {{artisan.location}}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ artisan.image }}</p>
                </a>
            </li>
        </ul>
    </div>

