@font-face {
    font-family: 'Grafik-Light';
    src: url('assets/fonts/Graphik-Light-Trial.otf');
}

@font-face {
    font-family: 'Grafik-Bold';
    src: url('assets/fonts/Graphik-Bold-Trial.otf');
}

@font-face {
    font-family: 'Grafik-LightItalic';
    src: url('assets/fonts/Graphik-LightItalic-Trial.otf');
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";