@font-face {
    font-family: 'Grafik-Light';
    src: url('assets/Graphik-Light-Trial.otf');
}

@font-face {
    font-family: 'Grafik-Bold';
    src: url('assets/Graphik-Bold-Trial.otf');
}

@font-face {
    font-family: 'Grafik-LightItalic';
    src: url('assets/Graphik-LightItalic-Trial.otf');
}