<section class="tuto">

  <h2 class="tutoTitle"> Comment trouver mon artisan ? </h2>
<ul class="tutoText">
    <li>
        1. Choisir la catégorie d'artisanat dans le menu.
    </li>
    <li>
       2. Choisir un artisan
    </li>
    <li>
       3. Remplir le formulaire de contact
    </li>
    <li>
        Une réponse vous sera apportée sous 48h.
    </li>
</ul>    



<section class="Top3">
    <h2 class="Top3Title"> Les trois artisans du mois : </h2>

<ng-container *ngFor="let Top3 of artisans">
  <li *ngIf="Top3.top">
   
  <div class="cardTop"> 
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img  [src]="Top3.image" alt="image des artisans" class="imgHome">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ Top3.name }}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ Top3.specialty }}</p>
    
        </div>
    </a>
  



   



    

        

