.tutoTitle {
    font-family: 'Grafik-Bold' ;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.tutoText {
    font-family: "Grafik-Light";
    display: flex;
    flex-direction: column;
    text-align:center;
}

.Top3Title {
    font-family: 'Grafik-Bold' ;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.cardTop {
    display: flex;
}