<section class="tuto">

  <h2 class="tutoTitle"> Comment trouver mon artisan ? </h2>

<div class="tutoText">
    <div class="flex flex-col py-3">
        
        <dd class="text-lg font-semibold">  1. Choisir la catégorie d'artisanat dans le menu.</dd>
    </div>
    <div class="flex flex-col py-3">
        <dd class="text-lg font-semibold">2. Choisir un artisan.</dd>
    </div>
    <div class="flex flex-col pt-3">
        <dd class="text-lg font-semibold">3. Remplir le formulaire de contact.</dd>
    </div>
    <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Une réponse vous sera apportée sous 48h.</dt>
    
    </div>

</div>
</section>


<section class="Top3">
    <h2 class="Top3Title"> Les trois artisans du mois : </h2>

<ng-container *ngFor="let artisan of artisans">
  <li *ngIf="artisan.top">
   
  <div class="TopArtisans">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ artisan.name }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ artisan.specialty }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ artisan.localisation }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Note {{ artisan.note }}/5</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            En savoir plus
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>

        </a>
    </div>
</div>
</div>  



    <div *ngIf="isSearching" id="carte"  class="popup-message">
        <div *ngIf="selectedArtisans && selectedArtisans.length > 0" id="ficheList">
            <div *ngFor="let artisan of selectedArtisans">
                <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <a [routerLink]="['/fiche-artisan', artisan.id]">
                        <p class="font-normal text-gray-700 dark:text-gray-400"><strong>{{ artisan.name }}</strong></p>
                        <p class="mb-0">Note: {{artisan.note}}</p>
                        <p>Métier: {{ artisan.specialty }}</p>
                        <p>Commune: {{ artisan.location }}</p>
                    </a>
                </div>
            </div>
  


                

                
   



    

        

